<div class="basic-grid common-margin">

    <div class="left-top corner">
      <piCorner></piCorner>
    </div>
    <div class="right-top corner">
      <piCorner></piCorner>
    </div>
    <div class="left-bot corner">
      <piCorner></piCorner>
    </div>
    <div class="right-bot corner">
      <piCorner></piCorner>
    </div>

    <div class="left-center">6</div>
    <div class="center-top">5</div>
    <div class="center-bot">7</div>
    <div class="right-center">8</div>

    <div class="dashboard-area">9</div>

</div>
